body {
	background-color: #f8f9fa;
	/* Light gray color */
}

.rounded-photo {
	width: 200px;
	/* Adjust the size as needed */
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
	border: 3px solid #ddd;
}

.department-photo {
	width: 240px;
	/* Adjust the size as needed */
	height: 240px;
	object-fit: cover;
	border-radius: 20%;
	border: 3px solid #ddd;
}


@keyframes slideContinuous {
	0% {
		transform: translateX(100%);
		/* Start off-screen to the right */
	}

	100% {
		transform: translateX(0%);
		/* Slide off-screen to the left */
	}
}

/* Apply Animation to Image */
.continuous-slide {
	animation: slideContinuous 10s linear;
	/* 10s duration, infinite loop */
	position: absolute;
	white-space: nowrap;
}

/* Parent Container for the Sliding Image */
.sliding-container {
	position: relative;
	overflow: hidden;
	/* Hide parts of the image outside the container */
	height: 200px;
	/* Set the container height */
	background-color: #f8f9fa;
	/* Light gray background */
}


.overlay-alert {
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1050; /* High z-index to appear above other elements */
	width: 90%; /* Adjust width as needed */
	max-width: 500px;
}


.anchor-custom {
	text-decoration: none; /* Removes underline */
	color: black; /* Sets default color */
	cursor: pointer; /* Changes cursor to pointer */
	transition: color 0.3s ease; /* Smooth color transition */
  }
  
  .anchor-custom:hover {
	color: var(--bs-success); /* Changes color to Bootstrap success color */
  }
  