{% extends "layout.html"%}

{% block content %}


<div class="row justify-content-center">
	<div class="col-lg-8 mt-4 mb-4">
		<div class="card p-3 shadow-sm">
			<div class="row">
				<div class="col-md-8 col-lg-12 mt-4 mb-4">
					<h1 class="text-center">Departments</h1>
					<button type="button" class="btn btn-info btn-md" data-bs-toggle="modal"
						data-bs-target="#addDepartment">Add
						New Department</button>
				</div>
				{% for department in departments %}
				<div class="col-md-8 col-lg-12 mt-4 mb-4">
					<div class="card p-3 shadow-sm">
						<div class="row align-items-center">
							<!-- Left Side: User Information -->
							<div class="col-lg-8 col-12">
								<a href="{{ url_for('devices', department_id = department.id)}}">
									<h4 class="mb-1 text-center">{{department.name}} Department</h4>
								</a>
								<br>
								<h5>Department Members: </h5>
								{% if department.members%}
								<div class="list-group">
									{% for member in department.members%}
									<a href="{{ url_for('user', id = member.id)}}"
										class="list-group-item list-group-item-action">{{ member.username }} - {{
										member.rank }}</a>
									{% endfor%}
								</div>
								<br>
								<h5>Number of Members: {{ department.members|length }}</h5>

								{% else %}
								<p> There is no members in this department</p>
								{% endif %}
								<br>
								<h5>Department Devices: </h5>
								{% if department.devices%}
								<div class="list-group">
									{% for device in department.devices%}
									{# {{url_for('device', id = device.id)}} #}
									<a href="" class="list-group-item list-group-item-action">{{
										device.name }}</a>
									{% endfor%}
								</div>
								<br>
								<h5>Number of devices: {{ department.devices|length }}</h5>
								{% else %}
								<p>There is no devices</p>
								{# {{ url_for('add_device', department_id=department.id) }} #}
								<a href="#"><button type="button" class="btn btn-info btn-sm">Add
										Devices</button></a>
								{% endif%}

								<br>
								<hr>
								<div>
									<button type="button" class="btn btn-warning btn-custom mt-1" data-bs-toggle="modal"
										data-bs-target="#updateDepartment{{ department.id }}">Update
										Department</button>
									<button type="button" class="btn btn-danger custom-button mt-1"
										data-bs-toggle="modal"
										data-bs-target="#deleteDepartment{{ department.id }}">Delete
										Department </button>
								</div>
							</div>
							<!-- Right Side: User Photo -->
							<div class="col-lg-4 text-center mt-1">
								<img src="{{ url_for('static', filename='images/profile.jpg')}}" alt="User Photo"
									class="rounded-photo mt-2">
							</div>
						</div>
					</div>
				</div>
				<!-- Update Department Modal -->
				<div class="modal fade" id="updateDepartment{{ department.id }}" data-bs-backdrop="static"
					data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateDepartmentLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="updateDepartmentLabel">Update
									Department</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<form method="POST" action="{{ url_for('update_department', id = department.id)}}">
									{{ form.hidden_tag() }} <!-- CSRF token -->

									<!-- Department Name Field -->
									{{ form.name.label(class="form-label") }}
									{% if form.name.errors %}
									{{ form.name(class="form-control is-invalid") }}
									<div class="invalid-feedback">
										{% for error in form.name.errors %}
										{{ error }}
										{% endfor %}
									</div>
									{% else %}
									{{ form.name(class="form-control mt-3", value= department.name )
									}}
									{% endif %}
									<div class="modal-footer">
										<button type="submit" class="btn btn-primary">Update
											Department</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- Delete Department Modal -->
				<div class="modal fade" id="deleteDepartment{{ department.id }}" data-bs-keyboard="false" tabindex="-1"
					aria-labelledby="deleteDepartmentLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="deleteDepartmentLabel">Are you sure
									that you want to
									delete
									{{department.name}} department and all devices and models and
									machines inside it ?
								</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<form method="POST" action="{{ url_for('delete_department', id=department.id) }}">
									<button type="submit" class="btn btn-danger mt-3">Delete {{
										department.name }} Department !!!</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>


<!-- Add Department Modal -->
<div class="modal fade" id="addDepartment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="addDepartmentLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="addDepartmentLabel">Add
					New Department</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form method="POST" action="{{ url_for('add_department') }}">
					{{ form.hidden_tag() }} <!-- CSRF token -->

					<!-- Department Name Field -->
					{{ form.name.label(class="form-label") }}
					{% if form.name.errors %}
					{{ form.name(class="form-control is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.name.errors %}
						{{ error }}
						{% endfor %}
					</div>
					{% else %}
					{{ form.name(class="form-control mt-3") }}
					{% endif %}
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Add
							Department</button>
					</div>
				</form>


			</div>
		</div>
	</div>
</div>

{% endblock%}