{% extends "layout.html"%}

{% block content %}


<div class="row justify-content-center">
	<div class="col-lg-8 mt-4 mb-4">
		<div class="card p-3 shadow-sm">
			<div class="row">
				<div class="col-md-8 col-lg-12 mt-4 mb-4">
					<a href="{{ url_for('departmentsbp.department', id = department.id) }}" class="anchor-custom">
						<h1 class="text-center mb-4">{{ department.name }}</h1>
					</a>
					{% if current_user.username == "Admin" %}
					<div>
						<button type="button" data-bs-toggle="modal" data-bs-target="#addMember{{ department.id }}"
							class="btn btn-info btn-md">Add
							New Member</button>
						<button type="button" class="btn btn-info btn-md" data-bs-toggle="modal"
							data-bs-target="#addDevice">Add
							New Device</button>
					</div>
					{% endif %}
				</div>
				{% if not devices%}
				<div class="col-md-8 col-lg-12 mt-4 mb-4">
					<div class="alert alert-warning" role="alert">
						No devices found.
					</div>
				</div>
				{% endif %}
				{% for device in devices %}
				<div class="col-md-8 col-lg-12 mt-4 mb-4">
					<div class="card p-3 shadow-sm">
						<div class="row align-items-center">
							<!-- Left Side: User Information -->
							<div class="col-lg-8 col-12">
								<a href="{{ url_for('modelsbp.models', device_id = device.id)}}" class="anchor-custom">
									<h4 class="mb-1 text-center">{{ device.name }}</h4>
								</a>
								<br>
								<h5>Department Models: </h5>
								{% if device.models%}
								<div class="list-group">
									{% for model in device.models%}
									{# {{url_for('device', id = device.id)}} #}
									<a href="{{ url_for('machinesbp.machines', model_id = model.id)}}"
										class="list-group-item list-group-item-action">{{
										model.name }}</a>
									{% endfor%}
								</div>
								<br>
								<h5>Number of devices: {{ device.models|length }}</h5>
								{% else %}
								<p>There is no models</p>
								{% endif%}
								<hr>
								{% if current_user.username == "Admin" %}
								<div>
									<button type="button" class="btn btn-warning btn-custom mt-1" data-bs-toggle="modal"
										data-bs-target="#updateDevice{{ device.id }}">Update
										Device</button>
									<button type="button" class="btn btn-danger custom-button mt-1"
										data-bs-toggle="modal" data-bs-target="#deleteDevice{{ device.id }}">Delete
										Device</button>
								</div>
								{% endif %}
							</div>
							<!-- Right Side: User Photo -->
							<div class="col-lg-4 text-center mt-1">
							{% set device_picture = (device.models | random).picture if device.models else 'default.jpg' %}
								<img src="{{ url_for('static', filename='images/'+ device_picture) }}" alt="User Photo"
									class="rounded-photo mt-2">
							</div>
						</div>
					</div>
				</div>
				<!-- Update Department Modal -->
				<div class="modal fade" id="updateDevice{{ device.id }}" data-bs-backdrop="static"
					data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateDevice{{ device.id }}Label"
					aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="updateDevice{{ device.id }}Label">Update
									Device</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<form method="POST"
									action="{{ url_for('devicesbp.update_device', device_id = device.id)}}">
									{{ form.hidden_tag() }} <!-- CSRF token -->

									<!-- Department Name Field -->
									{{ form.name.label(class="form-label") }}
									{% if form.name.errors %}
									{{ form.name(class="form-control is-invalid") }}
									<div class="invalid-feedback">
										{% for error in form.name.errors %}
										{{ error }}
										{% endfor %}
									</div>
									{% else %}
									{{ form.name(class="form-control mt-3", value= device.name )
									}}
									{% endif %}
									<div class="modal-footer">
										<button type="submit" class="btn btn-primary">Update
											Department</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- Delete Department Modal -->
				<div class="modal fade" id="deleteDevice{{ device.id }}" data-bs-keyboard="false" tabindex="-1"
					aria-labelledby="deleteDeviceLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="deleteDeviceLabel">Are you sure
									that you want to
									delete
									{{device.name}} device and all models and
									machines inside it ?
								</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<form method="POST"
									action="{{ url_for('devicesbp.delete_device', device_id=device.id) }}">
									<button type="submit" class="btn btn-danger mt-3">Delete {{
										device.name }} Device !!!</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<!-- Add Member Modal -->
	<div class="modal fade" id="addMember{{ department.id }}" data-bs-backdrop="static" data-bs-keyboard="false"
		tabindex="-1" aria-labelledby="addMemberLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="addMemberLabel">Add members</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form method="post" action="{{ url_for('departmentsbp.add_member', department_id=department.id) }}">
						<label for="member">Select Member:</label>
						{% for user in users %}
						<div>
							<input type="checkbox" name="user" value="{{ user.id }}" id="user_{{ user.id }}">
							<label for="user_{{ user.id }}">{{ user.username }}</label>
						</div>
						{% endfor %}
						<input type="submit" value="Add Members" class="btn btn-primary mt-3">

					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Add Department Modal -->
	<div class="modal fade" id="addDevice" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="addDeviceLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="addDeviceLabel">Add
						New Department</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form method="POST" action="{{ url_for('devicesbp.add_device', department_id=department.id) }}">
						{{ form.hidden_tag() }} <!-- CSRF token -->

						<!-- Department Name Field -->
						{{ form.name.label(class="form-label") }}
						{% if form.name.errors %}
						{{ form.name(class="form-control is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.name.errors %}
							{{ error }}
							{% endfor %}
						</div>
						{% else %}
						{{ form.name(class="form-control mt-3") }}
						{% endif %}
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">Add
								Device</button>
						</div>
					</form>


				</div>
			</div>
		</div>
	</div>


	{% endblock%}