{% extends "layout.html"%}

{% block content %}


<div class="row justify-content-center">
	<div class="col-lg-8 mt-4 mb-4">
		<div class="card p-3 shadow-sm">
			<div class="row">
				<div class="col-md-8 col-lg-12 mt-4 mb-4">
					<h1 class="text-center">Hospitals</h1>
					<a href="{{ url_for('add_hospital') }}"><button type="button" class="btn btn-info btn-md">Add
							New Hospital</button></a>
				</div>
				{% for hospital in hospitals %}
				<div class="row justify-content-center">
					<div class="col-lg-11 mt-4 mb-4">
						<div class="card p-3 shadow-sm">
							<div class="col-md-8 col-lg-12 mt-4 mb-4">
								<h4> {{hospital.name}}</h4>
								<h5> {{hospital.governorate}}</h5>
								<h6> Machines </h6>
								{% for machine in hospital.machines%}
									<p>{{machine.model.name}} - {{machine.serial_number}}</p>
								{% endfor %}
								<br>
								<button type="button" class="btn btn-danger custom-button mt-1" data-bs-toggle="modal"
									data-bs-target="#deleteHospital{{ hospital.id }}">Delete
									Hospital</button>
								<a href="{{ url_for('update_hospital', id=hospital.id) }}"><button type="button"
										class="btn btn-warning btn-custom mt-1">Update
										Hospital</button></a>
							</div>

						</div>
					</div>
				</div>
				<!-- Delete Department Modal -->
				<div class="modal fade" id="deleteHospital{{ hospital.id }}" data-bs-keyboard="false" tabindex="-1"
					aria-labelledby="deleteHospitalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="deleteHospitalLabel">Are you sure
									that you want to
									delete
									{{hospital.name}} hospital?
								</h1>
								<div>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
							</div>
							<div class="modal-body">
								<form method="POST" action="{{ url_for('delete_hospital', id=hospital.id) }}">
									<button type="submit" class="btn btn-danger mt-3">Delete {{
										hospital.name }} Hospital !!!</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	{% endblock%}