{% extends "layout.html"%}

{% block content %}


<div class="row justify-content-center">
	<div class="col-lg-8 mt-4 mb-4">
		<div class="card p-3 shadow-sm">
			<div class="row">
				<div class="col-md-8 col-lg-12 mt-4 mb-4">
					<h1 class="text-center">{{ model.name }}</h1>
					<a href="{{ url_for('models', device_id=model.device.department.id) }}" class="anchor-custom">
						<h4 class="text-center">{{model.device.name}} Device</h4>
					</a>
					<a href="{{ url_for('devices', department_id=model.device.department.id) }}" class="anchor-custom">
						<h6 class="text-center">{{model.device.department.name}} Department</h6>
					</a>
					<a href="{{ url_for('add_machine', model_id=model.id) }}">
						<button type="button" class="btn btn-info btn-md">
							Add New Machine
						</button>
					</a>
				</div>
				<div class="list-group">

					<div>
						<ul class="list-group list-group-horizontal">
							<li class="list-group-item">Serial Number</li>
							<li class="list-group-item">Contract Name</li>
							<li class="list-group-item">Contract Type</li>
							<li class="list-group-item">Contract Start Date</li>
							<li class="list-group-item">Contract End Date</li>
							<li class="list-group-item">Installation Date</li>
							<li class="list-group-item">Warranty</li>
							<li class="list-group-item">Hospital</li>
						</ul>
						{% for machine in machines %}
						<ul class="list-group list-group-horizontal">
							<li href="#" class="list-group-item list-group-item-action">{{ machine.serial_number }}</a>
							<li class="list-group-item">{{ machine.contract_name}}</li>
							<li class="list-group-item">{{ machine.contract_name}}</li>
							<li class="list-group-item">{{ machine.contract_start_date}}</li>
							<li class="list-group-item">{{ machine.contract_end_date}}</li>
							<li class="list-group-item">{{machine.installation_date}}</li>
							{% if machine.contract_type == 0 %}
							<li class="list-group-item">this machine in Warranty</li>
							{% endif %}
							<li class="list-group-item">{{ machine.hospital.name}}</li>
						</ul>
						<div>
							<button type="button" class="btn btn-sm btn-danger custom-button mt-1"
								data-bs-toggle="modal" data-bs-target="#deleteMachine{{ machine.id }}">Delete
								Machine</button>
							<a href="{{ url_for('update_machine', machine_id=machine.id) }}"><button type="button"
									class="btn btn-sm btn-warning btn-custom mt-1">Update
									Machine</button>
							</a>
						</div>
						<br>
					</div>
					<div class="modal fade" id="deleteMachine{{ machine.id }}" data-bs-keyboard="false" tabindex="-1"
						aria-labelledby="deleteMachineLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title fs-5" id="deleteMachineLabel">Are you sure
										that you want to
										delete
										{{machine.serial_number}} machine in {{machine.model.name}}
										{{machine.model.device.name}}?
									</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<form method="POST" action="{{ url_for('delete_machine', machine_id=machine.id) }}">
										<button type="submit" class="btn btn-danger mt-3">Delete {{
											machine.name }} Machine !!!</button>
									</form>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>

			</div>
		</div>
	</div>
</div>
{% endblock%}