{% extends "layout.html"%}

{% block content %}


<div class="row justify-content-center">
	<div class="col-lg-8 mt-4 mb-4">
		<div class="card p-3 shadow-sm">
			<div class="row">
				<div class="col-md-8 col-lg-12 mt-4 mb-4">
					<h1 class="text-center">{{ device.name }}</h1>
					<a href="{{ url_for('devicesbp.devices', department_id=device.department.id) }}"
						class="anchor-custom">
						<h5 class="text-center">{{device.department.name}} Department</h5>
					</a>
					{% if current_user.username == "Admin" %}
					<button type="button" class="btn btn-info btn-md" data-bs-toggle="modal"
						data-bs-target="#addNewModel">Add
						New Model</button>
					{% endif %}
				</div>
				{% for model in models %}
				<div class="col-md-8 col-lg-12 mt-4 mb-4">
					<div class="card p-3 shadow-sm">
						<div class="row align-items-center">
							<!-- Left Side: User Information -->
							<div class="col-lg-8 col-12">
								<a href="{{ url_for('machinesbp.machines', model_id = model.id)}}"
									class="anchor-custom">
									<h4 class="mb-1 text-center">{{model.name}}</h4>
								</a>
								<br>
								{% if model.machines%}
								<div class="list-group">
									{% for machine in model.machines%}
									{# {{url_for('device', id = device.id)}} #}
									<a href="" class="list-group-item list-group-item-action">{{
										machine.serial_number }}</a>
									{% endfor%}
								</div>
								<br>
								<h5>Number of machines: {{ device.models|length }}</h5>
								{% else %}
								<p>There is no machines</p>
								{% endif%}
								<br>
								<hr>
								{% if current_user.username == "Admin" %}
								<div>
									<button type="button" class="btn btn-warning btn-custom mt-1" data-bs-toggle="modal"
										data-bs-target="#updateModel{{ model.id }}">Update
										Model</button>
									<button type="button" class="btn btn-danger custom-button mt-1"
										data-bs-toggle="modal" data-bs-target="#deleteModel{{ model.id }}">Delete
										Model</button>
								</div>
								{% endif%}
							</div>
							<!-- Right Side: User Photo -->
							<div class="col-lg-4 text-center mt-1 mr-3">
								<img src="{{ url_for('static', filename='images/'+model.picture) }}" alt="User Photo"
									class="department-photo mt-2">
							</div>
						</div>
					</div>
				</div>
				<!-- Update Department Modal -->
				<div class="modal fade" id="updateModel{{ model.id }}" data-bs-backdrop="static"
					data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateModel{{ model.id }}Label"
					aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="updateModel{{ model.id }}Label">Update
									Model</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<form method="POST" action="{{ url_for('modelsbp.update_model', model_id = model.id)}}">
									{{ form.hidden_tag() }} <!-- CSRF token -->

									<!-- Department Name Field -->
									{{ form.name.label(class="form-label") }}
									{% if form.name.errors %}
									{{ form.name(class="form-control is-invalid") }}
									<div class="invalid-feedback">
										{% for error in form.name.errors %}
										{{ error }}
										{% endfor %}
									</div>
									{% else %}
									{{ form.name(class="form-control mt-3", value=model.name) }}
									{% endif %}
									<br>
									{{form.manufacturer.label(class="form-label")}}
									{{form.manufacturer(class="form-control mt-3", value=model.manufacturer)}}
									{{ form.picture.label(class="form-label")}}
									{{ form.picture(class="form-control mt-3")}}
									<div class="modal-footer">
										<button type="submit" class="btn btn-primary">Update
											Model</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- Delete Department Modal -->
				<div class="modal fade" id="deleteModel{{ model.id }}" data-bs-keyboard="false" tabindex="-1"
					aria-labelledby="deleteModelLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="deleteModelLabel">Are you sure
									that you want to
									delete
									{{model.name}} model and
									machines inside it ?
								</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<form method="POST" action="{{ url_for('modelsbp.delete_model', model_id=model.id) }}">
									<button type="submit" class="btn btn-danger mt-3">Delete {{
										model.name }} Model !!!</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<!-- Add Model Modal -->
	<div class="modal fade" id="addNewModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="addNewModelLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="addNewModelLabel">Add
						New Model</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form method="POST" action="{{ url_for('modelsbp.add_model', device_id=device.id) }}"
						enctype="multipart/form-data">
						{{ form.hidden_tag() }} <!-- CSRF token -->

						<!-- Department Name Field -->
						{{ form.name.label(class="form-label") }}
						{% if form.name.errors %}
						{{ form.name(class="form-control is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.name.errors %}
							{{ error }}
							{% endfor %}
						</div>
						{% else %}
						{{ form.name(class="form-control mt-3") }}
						{% endif %}
						<br>
						{{form.manufacturer.label(class="form-label")}}
						{{form.manufacturer(class="form-control mt-3")}}
						<br>
						{{form.picture.label(class="form-label")}}
						{{form.picture(class="form-control mt-3")}}
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">Add
								Model</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>


	{% endblock%}