{% extends "layout.html"%}

{% block content %}

<div class="row justify-content-center">
	<div class="col-md-8 col-lg-8 mt-4 mb-4">
		<div class="card p-3 shadow-sm">
			<div class="row align-items-center">
				<!-- Left Side: User Information -->
				<div class="col-md-8 col-12">
					<a class="anchor-custom" href="{{url_for('usersbp.user', id=user.id)}}">
						<h3 class="mb-1">{{user.username}}</h3>
					</a>
					<p class="text-muted mb-1">Email: {{user.email}}</p>
					<p class="text-muted mb-1">Role: {{user.rank}}</p>
					<p>picture: {{user.profile_pic}}</p>
					{% if user.department %}
					<p class="text-muted mb-1">Department: <a class="anchor-custom"
							href="{{ url_for('devicesbp.devices', department_id=user.department_id) }}">{{user.department.name}}</a>
					</p>
					{% else %}
					<p class="text-muted mb-1">Department: No Department</p>
					{% endif %}
					<br>
					<a href="{{url_for('usersbp.update_user', id=user.id)}}" class="btn btn-sm btn-warning">Update your
						profile</a>
				</div>
				<!-- Right Side: User Photo -->
				<div class="col-md-4 col-12 text-center">
					<img src="{{ url_for('static', filename='images/' + user.profile_pic)}}" alt="User Photo"
						class="rounded-photo">
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock%}